* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* header part */
header {
  .firstheader {
    width: 100%;
    height: 150px;
    padding: 10px 0px;
    .image {
      height: 15vh;
      img {
        width: 50px;
        margin-top: 25px;
      }
    }
  }
}
.secondheader {
  background-color: #fff;
  box-shadow: 0px 20px 20px rgba(80, 80, 80, 0.4);
  position: sticky;
  top: 0;
  padding: 10px 0px;
  height: 10vh;
  z-index: 1000;
  ul {
    li {
      a {
        color: #6d6d6d;
        text-decoration: none;
        margin: 0px 10px;
        padding: 10px 30px;
        position: relative;
        z-index: 0;
        cursor: pointer;
      }
      a:before,
      a:after {
        position: absolute;
        opacity: 0.5;
        height: 100%;
        width: 2px;
        content: "";
        background: #acacac;
        transition: all 0.3s;
      }
      a:before {
        left: 0px;
        top: 0px;
      }
      a:after {
        right: 0px;
        bottom: 0px;
      }
      /*看看是否可以改字體顏色*/
      a:hover:before,
      a:hover:after {
        opacity: 1;
        height: 2px;
        width: 100%;
      }
    }
  }
}

/* main part */
main {
  .background {
    background-color: #373737;
    width: 100%;
    height: 630vh;
    margin-top: 10vh;
    border-radius: 226px;

    /* 一頁式網站 */
    .onepage {
      .grid {
        h2 {
          position: relative;
          top: 100px;
          color: #e1e1e1;
          font-weight: 300;
          letter-spacing: 20px;
        }
        .boxLine {
          position: relative;
          top: 120px;
          left: 25vw;
          background-color: #cecece;
          align-items: center;
          width: 50%;
          height: 10px;
        }
        .container {
          margin-top: 18vh;
          .row {
            .col {
              img {
                margin-top: 5vh;
              }
              h5 {
                color: #f2f2f2;
                font-weight: 400;
              }
              p {
                color: #f2f2f2;
                font-weight: 200;
              }
              a {
                text-decoration: none;
                background-color: #d9d9d9;
                border-radius: 32px;
                padding: 10px 20px;
                color: #000000;
                transition: all 0.3s ease;
              }
              a:hover {
                background-color: #929292;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  /* 購物式網站 */
  .secondpage {
    background-color: #eeeeee;
    margin-top: 10vh;
    height: 140vh;
    .grid {
      h2 {
        position: relative;
        top: 100px;
        color: #434343;
        font-weight: 300;
        letter-spacing: 20px;
      }
      .boxLine {
        position: relative;
        top: 120px;
        left: 25vw;
        background-color: #cecece;
        align-items: center;
        width: 50%;
        height: 10px;
      }
      .carousel {
        .carousel-inner {
          .carousel-item {
            margin-top: 25vh;
            img {
              width: 80%;
              background-color: #fff;
              padding: 10px 50px 150px 50px;
              border-radius: 0px 0px 100px 0px;
            }
            .carousel-caption {
              h5 {
                color: #000000;
              }
              p {
                color: #000000;
                font-weight: 300;
              }
              a {
                background-color: #d9d9d9;
                padding: 15px;
                border-radius: 20px;
                color: #000000;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  /* UI/UX設計圖 */
  .thirdpage {
    background-color: #eeeeee;
    height: 150vh;
    .grid {
      h2 {
        position: relative;
        top: 100px;
        color: #434343;
        font-weight: 300;
        letter-spacing: 20px;
      }
      .boxLine {
        position: relative;
        top: 120px;
        left: 25vw;
        background-color: #cecece;
        align-items: center;
        width: 50%;
        height: 10px;
      }
    }
    .container {
      margin-top: 18vh;
      .row {
        .col {
          iframe {
            margin-top: 15px;
            border-radius: 30px;
            transition: all 0.3s ease;
          }
          iframe:hover {
            transform: scale(1.1);
          }
        }
      }
      .collapse {
        .card {
          z-index: 1000;
          .container {
            .row {
              .col {
                img {
                  width: 90%;
                }
              }
            }
          }
        }
      }
    }
  }

  /* 小物設計 */
  .fourpage {
    .grid {
      h2 {
        position: relative;
        top: 100px;
        color: #e1e1e1;
        font-weight: 300;
        letter-spacing: 20px;
      }
      .boxLine {
        position: relative;
        top: 120px;
        left: 25vw;
        background-color: #cecece;
        align-items: center;
        width: 50%;
        height: 10px;
      }
    }
    .container {
      margin-top: 18vh;
      .row {
        .col {
          iframe {
            margin-top: 15px;
            border-radius: 30px;
            transition: all 0.3s ease;
          }
          iframe:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

@media screen and (min-width: 1520px) and (max-width: 1920px) {
  header {
    .fixed-top {
      max-height: 20%;
    }
  }
  main {
    .background {
      margin-top: 25vh;
      border-radius: 100px;
    }
  }
}

@media screen and (max-width: 1420px) {
  main {
    .background {
      height: 680vh;
    }
  }
}

@media screen and (max-width: 1019px) {
  main {
    .background {
      border-radius: 150px;
    }
    .secondpage {
      .carousel-inner {
        .carousel-item {
          .carousel-caption {
            p {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  main {
    .background {
      height: 780vh;
      .secondpage {
        height: 100vh;
      }
      .thirdpage {
        height: 130vh;
        .container {
          .row {
            .col {
              iframe {
                width: 100%;
                height: 300px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 841px) {
  .secondheader {
    height: 15vh;
  }
}

@media screen and (max-width: 767px) {
  header {
    .fixed-top {
      min-height: 40%;
    }
    .container {
      li {
        padding: 5px 0px;
      }
    }
  }
  main {
    .background {
      margin-top: 10vh;
      border-radius: 150px;
      .secondpage {
        .grid {
          .carousel-inner {
            .carousel-item {
              img {
                padding: 10px 10px 10px 10px;
                border-radius: 0px 0px 0px 0px;
              }
            }
          }
        }
      }
      .fourpage {
        .container {
          .row {
            .col {
              iframe {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 665px) {
    .secondheader {
      min-height: 17vh;
    }
    main {
      .background {
        margin-top: 10vh;
      }
    }
  }

  @media screen and (max-width: 545px) {
    .secondheader {
      min-height: 17vh;
    }
    main {
      .background {
        margin-top: 10vh;
        border-radius: 100px;
      }
    }
  }

  /* phone devices */
  @media screen and (max-width: 414px) {
    header {
      .fixed-top {
        min-height: 35%;
      }
    }
    .secondheader {
      min-height: 18vh;
    }
    main {
      .background {
        margin-top: 10vh;
        border-radius: 85px;
        height: 330vh;
        .secondpage {
          height: 50vh;
          .grid {
            .carousel-inner {
              .carousel-item {
                margin-top: 18vh;
              }
            }
          }
        }
        .thirdpage {
          height: 80vh;
          iframe {
            width: 100%;
            height: 200px;
          }
        }
        .fourpage {
          iframe {
            width: 100%;
            height: 300px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    header {
      .fixed-top {
        min-height: 40%;
      }
    }
  }
  .secondheader {
    min-height: 23vh;
  }
  main {
    .background {
      margin-top: 10vh;
      border-radius: 80px;
      height: 400vh;
      .thirdpage {
        height: 100vh;
      }
    }
  }
}
